button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

.inactive {
    font-size: 9px;
    color: #3f717c;
}

.active .focused {
    font-size: 15px;
    color: #a7cad2;
}

label {
    font-weight: bold;
}